body {
	background: #ffffff;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.header {
	position: fixed;
	left: 0;
	height: 70px;
	width: 100%;
	background-color: #808080;
}

#intro {
	position: fixed;
	left: 100px;
	padding: 0px;
	height: 60px;
	width: 400px;
	font-family: distro;
	font-size: 25px;
	color: #ffffff;
	line-height: 0px;
}

#option {
	position: fixed;
	left: 800px;
	height: 60px;
	width: 500px;
}

#option ul {
	margin: 12px;
	padding: 0px;
	display: flex;
}

#option ul li {
	padding: 10px 25px;
	border: none;
	border-radius: 15px;
	text-decoration: none;
	display: block;
	margin: 7px;
	list-style: none;
}

#option ul li a:link {
	color: #ffffff;
	text-decoration: none;
}

#option ul li a:active {
	color: #ffffff;
	text-decoration: none;
}
 
#option ul li a:visited {
	color: #ffffff;
	text-decoration: none;
}

#option ul li a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.middle {
	position:fixed;
	left: 50px;
	top: 80px;
	height: 490px;
	width: 1249px;
}

.call {
	position: fixed;
	left: 220px;
	top: 140px;
	width: 444px;
	height: 210px;
	border-right: 1px solid #808080;
}

#icon {
	top: 160px;
	position: fixed;
	width: 64px;
	height: 64px;
	left: 411px;
	border: none;
}

#num {
	position: fixed;
	width: 444px;
	top: 240px;
	height: 100px;
	text-align: center;
	font-family: distro;
	color: #333;
	border: none;
}

.email {
	position: fixed;
	left: 664px;
	top: 140px;
	width: 444px;
	height: 210px;
}

#icon2 {
	top: 160px;
	position: fixed;
	width: 64px;
	height: 64px;
	left: 855px;
	border: none;
}

#mail {
	position: fixed;
	width: 444px;
	top: 240px;
	height: 100px;
	text-align: center;
	font-family: distro;
	color: #333;
	border: none;
}

.social {
	position: fixed;
	left: 220px;
	top: 350px;
	width: 888px;
	height: 210px;
	border-top: 1px solid #808080;
}

#icon3 {
	top: 370px;
	position: fixed;
	width: 64px;
	height: 64px;
	left: 632px;
	border: none;	
}

#social2 {
	position: fixed;
	left: 505px;
	width: 315px;
	top: 450px;
	height: 50px;
	text-align: center;
	font-family: distro;
	color: #333;
	border: none;
}

#social2 ul {
	display: flex;
	padding: 0px;
	margin: 0px;	
}

#social2 ul li {
	list-style: none;
	padding: 10px;
}

#text {
	position: fixed;
	width: 888px;
	top: 480px;
	height: 50px;
	text-align: center;
	font-family: distro;
	color: #333;
	border: none;
}

.footer {
	position: fixed;
	top: 570px;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #808080;
}

#copyright1 {
	height: 30px;
	width: 30px;
	top: 578px;
	left: 600px;
	float:left;
}

#copyright2 {
	height: 40px;
	width: 160px;
	font-family: distro;
	color: #ffffff;
	top: 584px;
	left: 645px;
	float:left;
	text-align: center;
	background: transparent;
}